<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Smarty Demo</title>
</head>
<body>
{$msg} <br/>
{$msg|upper} <br/>


oluşturulma tarihi {$posted|date_format:"%a, %b %e, %Y"}
</body>
</html>
